<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - LearnVern Store Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">LearnVern Store</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                        Admins
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                        Users
                    </a>
                    <a class="nav-link" href="brands.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-list" aria-hidden="true"></i></div>
                        Brands
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                        Products
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        Orders
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-tag" aria-hidden="true"></i></div>
                        Discounts
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                        Transactions
                    </a>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fa fa-link" aria-hidden="true"></i></div>
                        Visit Site
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                LearnVern Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Products</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="products.html">Products</a></li>
                    <li class="breadcrumb-item active">Add New Product</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Add Product
                    </div>
                    <div class="card-body">
                        <!-- Start col -->
                        <div class="album py-5" style="height:120vh;margin-top: -18%;margin-bottom: -18%;">
                            <div class="row h-100 justify-content-center align-items-center">
                                <div class="card border-success" style="max-width: 85rem;padding: 2%;">
                                    <div class="card-body">
                                        <form method="POST" action=""
                                              enctype="multipart/form-data">
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label for="name" class="form-label">Product Name</label>
                                                    <input type="text" class="form-control" id="name" name="name"
                                                           placeholder="Titan Watch"
                                                           required="">
                                                </div>
                                                <div class="col">
                                                    <label for="price" class="form-label">Price</label>
                                                    <input type="text" class="form-control" id="price" name="price"
                                                           placeholder="15000"
                                                           required="">
                                                </div>
                                                <div class="col">
                                                    <label for="sale_price" class="form-label">Sale Price</label>
                                                    <input type="text" class="form-control" id="sale_price"
                                                           name="sale_price"
                                                           placeholder="10000">
                                                </div>
                                                <div class="col">
                                                    <label for="color" class="form-label">Color</label>
                                                    <input type="text" class="form-control" id="color" name="color"
                                                           placeholder="Rose Gold"
                                                           required="">
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label for="brand" class="form-label">Brand</label>
                                                    <select class="form-select" id="brand"
                                                            aria-label="Default select example"
                                                            required="" name="brand">
                                                        <option selected disabled>Select</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="prod_code" class="form-label">Product Code</label>
                                                    <input type="text" class="form-control" id="prod_code"
                                                           name="prod_code"
                                                           placeholder="LV-123"
                                                           required="">
                                                </div>
                                                <div class="col">
                                                    <label for="gender" class="form-label">Gender</label><br>
                                                    <input type="radio" id="gender" name="gender" value="Male" checked>&nbsp;&nbsp;Male&nbsp;&nbsp;
                                                    <input type="radio" id="gender" name="gender" value="Female">&nbsp;&nbsp;Female
                                                    <input type="radio" id="gender" name="gender" value="children">&nbsp;&nbsp;Children
                                                    <input type="radio" id="gender" name="gender" value="unisex">&nbsp;&nbsp;Unisex
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-3">
                                                    <label for="function" class="form-label">Function</label>
                                                    <select class="form-select" id="function"
                                                            aria-label="Default select example"
                                                            required="" name="function">
                                                        <option selected disabled>Select</option>
                                                    </select>
                                                </div>
                                                <div class="col-3">
                                                    <label for="stock" class="form-label">Stock</label>
                                                    <input type="number" class="form-control" id="stock" name="stock"
                                                           placeholder="100"
                                                           required="">
                                                </div>
                                                <div class="col">
                                                    <label for="description" class="form-label">Description</label>
                                                    <textarea class="form-control" id="description" rows="3"
                                                              name="description"
                                                              placeholder="description" required=""></textarea>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label for="image" class="form-label">Image</label><br>
                                                    <input type="file" class="form-control-file" name="image"
                                                           id="image">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <input type="submit" name="add_product" id="add_product"
                                                       value="Add Product"
                                                       class="btn btn-outline-success">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; LearnVern Store 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
